#faturas-view {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#faturas-blocks {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.table-resumo-saidas {
  width: 400px;
}
.table-value {
  text-align: right;
}

.button-delete, .button-delete * {
  color: #FF0000;
  cursor: pointer;
}
.button-delete:hover, .button-delete:hover * {
  color: #A91D3A;
}
.button-edit, .button-edit * {
  color: #4C3BCF;
  cursor: pointer;
}
.button-edit:hover, .button-edit:hover * {
  color: #402E7A;
}



#faturas-table {
  width: 100%;
  flex: 1;
}


.btn-months {
  border-radius: 0;
  width: 100px;
  height: 100%;
  text-decoration: underline;
}

.hide {
  display: none;
}



.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}


.label-edit {
  width: 30%;
}