<button style="width: 100%; height: 30px; background-color: black; color: white; font-weight: bolder ;position: absolute; top: 0; left: 0;" (click)="goEntradas()">IR PARA <span style="color: green;">ENTRADAS</span></button>
<div style="height: 100vh; width: 100vw; display: flex; flex-direction: column; overflow-y: hidden; padding: 30px; box-sizing: border-box; overflow-x: hidden; overflow-y: scroll;">
  <h1 style="text-align: center;">TESTE: SAIDAS</h1>
  @for (saida of saidas; track $index) 
  {
    <div style="border: 1px solid; width: 100%;margin-top: 30px;box-sizing: border-box;">
      <p>id: {{saida.id}}</p>
      <p>descricao: {{saida.descricao}}</p>
      <p>valor: {{saida.valor}}</p>
      <p>pago?: {{saida.pago}}</p>
      <p>é fatura?: {{saida.isFatura}}</p>
      <p>data: {{saida.data}}</p>
    </div>
  }
</div>
