<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{saida?.descricao ?? 'Descrição não disponível'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" aria-label="Check para editar" [(ngModel)]="saidaEdit.descricao" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="input-group-text label-edit" id="label-edit-descricao">Descrição</span>
        <input type="text" class="form-control" aria-label="Descrição da saida" value="{{saida?.descricao}}" [disabled]="!saidaEdit.descricao">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" aria-label="Check para editar" [(ngModel)]="saidaEdit.valor" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="input-group-text label-edit" id="label-edit-vencimento">Valor</span>
        <input type="text" class="form-control" aria-label="Valor da saida" value="{{saida?.valor}}" [disabled]="!saidaEdit.valor">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" aria-label="Check para editar" [(ngModel)]="saidaEdit.vencimento" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="input-group-text label-edit" id="label-edit-pagamento">Vencimento</span>
        <input type="text" class="form-control" aria-label="Vencimento da saida"
          [value]="saida?.data | date: 'dd/MM/yyyy'" [disabled]="!saidaEdit.vencimento">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" aria-label="Check para editar" [(ngModel)]="saidaEdit.pagamento" [ngModelOptions]="{standalone: true}">
        </div>
        <span class="input-group-text label-edit" id="label-edit-pagamento">Pagamento</span>
        <input type="text" class="form-control" aria-label="Pagamento da saida"
          [value]="saida?.pagamento | date: 'dd/MM/yyyy'" [disabled]="!saidaEdit.pagamento">
      </div>
    </form>
    <p style="font-size: smaller; text-align: center;color: rgba(0, 0, 0, 0.575);">check para editar</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<i class="bi bi-pencil-square" (click)="open(content)"></i>